:root{
    --branco-principal:#ffffffff;
    --cinza-secundario:  #C0C0C0;
    --botao-azul:#167BF7;
    --cor-de-fundo:#00030c;
    --font-texto: 'Inter';
    --botao-interação:#2881ef;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-texto);
    font-size: 16px;
    font-weight: 400;
   
}

* {
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
   
    
  
    
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    align-items: center;
}

.container__caixa{
margin: 0 6em;

}

.container__titulo{
    font-family: var(--font-texto);
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    
}

.container__botao{
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 1em;
    border-radius: 5px;
  display: block ;
 text-decoration: none;
 margin-bottom: 1em;

}

.container__imagem{
    margin: 1em 0 2em 0;
}

.botao_secundario{
    background-color: transparent;
    color: var(--branco-principal);
    border:2px solid var(--cinza-secundario) ;
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
}

.container__aviso{
    color:var(--cinza-secundario);
    font-family: var(--font-texto);
    font-weight: 400;
    font-size: 16px;
    
}





.secundario{
    align-items:center;
margin: 0 10rem;
}

.secundario__imagem{
    width: 80%;
  
}

.container__descricao{
   padding: 2em;
}



.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;

}

.descricao__texto{
    color: var(--cinza-secundario);
}
    
.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}


.dispositivos{
    text-align: center;
    
    
 }

 .dispositivos__titulo{
    font-size: 2.5em;
    color: var(--branco-principal);
    font-family: var(--font-texto);
 }

.lista__dispositivos {
display: flex;
justify-content: center;
list-style-type: none;
margin: 5em 0;

}

.lista__item{
    font-family: var(--font-texto);
    font-size: 2em;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    margin-top: 3em;
    list-style-type: none;
   
   
}

.rodape__lista_item a{
    margin-left: 1em;
    text-decoration: none;
    font-family: var(--font-textol);
    color: var(--branco-principal);
}

.rodape__descricao{
    color: var(--cinza-secundario);
    font-family: var(--font-texto);
    margin: 1em 0;
    
}

.rodape__lista a:hover {
color: var(--botao-azul);
}

.rodape__lista a:active{
color:olive;
}

.container__botao:hover{
background-color: var(--botao-interação);
color: var(--cor-de-fundo);
}

.botao_secundario:hover{
    background-color: var(--botao-interação);
color: var(--cor-de-fundo);
}